{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
	{% block brand %}
		<a class="navbar-brand" href="{{ path('viva_app_homepage') }}">{{ viva_app_name|default('Viva Application Platform') }}</a>
	{% endblock %}

	{% block menu %}
		{{ knp_menu_render('bootstrap', {
			'template': 'VivaitBootstrapBundle:menu:navbar_menu.html.twig',
			'allow_safe_labels': true
		}) }}
	{% endblock %}
{% endembed %}