{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'VivaitBootstrapBundle:Default:flash.html.twig' import session_flash %}

{% block title %}Viva Application Platform{% endblock %}

    {% block head_style %}
		{# Override this block to add your own files! #}
		{% stylesheets
		'@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
		'@MopaBootstrapBundle/Resources/public/less/eyecon-datepicker.less'
		'@VivaitBootstrapBundle/Resources/public/css/jquery.dialog2.css'
		'@VivaitBootstrapBundle/Resources/public/css/bootstrap.css'
		'@VivaitBootstrapBundle/Resources/public/css/offcanvassidebar.css'
		'@VivaitBootstrapBundle/Resources/public/css/messenger.css'
		'@VivaitBootstrapBundle/Resources/public/css/messenger-theme-future.css' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
		{% endstylesheets %}
		{# To use this without less use the base_css.html.twig template as your base
		 # Be sure you understand whats going on: have a look into
		 # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
		 #}
	{% endblock head_style %}



{% block navbar %}
	{% include 'VivaitBootstrapBundle:Default:menu.html.twig' %}
{% endblock navbar %}

{% block page_header %}{% endblock page_header %}

{% block footer %}{% endblock footer %}
{% block content_div_start %}
<div style="padding-top:65px;" class="content">
	{% endblock content_div_start %}

	{% block content_row %}
		<div class="row">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="navbar-brand">{% block sectiontitle %}{% endblock %}</div>
					<div class="pull-right">{% block sectionlinks %}{% endblock %}</div>
				</div>
			</div>
			{% block section %}{% endblock %}
		</div>
		<div id="modalDialog" style="display: none"><h1>&nbsp;</h1></div>
	{% endblock content_row %}


	{% block foot_script %}
		{{ parent() }}
		{% javascripts
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.dialog2.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.controls.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.form.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.cookie.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.timeago.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/jquery.dialog2.helpers.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/colorpicker/colorpicker.js'
		'@VivaitBootstrapBundle/Resources/public/js/vendor/Chart.min.js'
		'@VivaitBootstrapBundle/Resources/public/js/messenger.min.js'
		'@VivaitBootstrapBundle/Resources/public/js/messenger-theme-future.js'
		"%kernel.root_dir%/../vendor/jms/twig-js/twig.js" %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}



		<script>
			$(document).ready(function () {
//				$(function () {
//					var json, tabsState;
//					$('a[data-toggle="pill"], a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
//						var href, json, parentId, tabsState;
//						tabsState = localStorage.getItem("tabs-state");
//						json = JSON.parse(tabsState || "{}");
//						parentId = $(e.target).parents("ul.nav.nav-pills, ul.nav.nav-tabs").attr("id");
//						href = $(e.target).attr('href');
//						json[parentId] = href;
//						return localStorage.setItem("tabs-state", JSON.stringify(json));
//					});
//					tabsState = localStorage.getItem("tabs-state");
//					json = JSON.parse(tabsState || "{}");
//					$.each(json, function (containerId, href) {
//						var a_el = $("#" + containerId + " a[href=" + href + "]");
//						$(a_el).parent().addClass("active");
//						$(href).addClass("active in");
//						return $(a_el).tab('show');
//					});
//					$("ul.nav.nav-pills, ul.nav.nav-tabs").each(function () {
//						var $this = $(this);
//						if (!json[$this.attr("id")]) {
//							var a_el = $this.find("a[data-toggle=tab]:first, a[data-toggle=pill]:first"),
//									href = $(a_el).attr('href');
//							$(a_el).parent().addClass("active");
//							$(href).addClass("active in");
//							return $(a_el).tab("show");
//						}
//					});
//				});

//				$('.make-popover').popover();

				$(document).on("click", ".confirm-message", function (e) {
					var cnfm = confirm($(this).data('confirm-message'));
					if (!cnfm) {
						e.stopImmediatePropagation();
					}
					return cnfm;
				});


//				$(document).on("click", "tr", function () {
//					var link = $(this).find("a");
//					if(typeof link.attr("href") != "undefined") {
//						if (link.hasClass("ajax-dialog")) {
//							$('#modalDialog').dialog2({
//								content: link.attr("href")
//							});
//						} else {
//							window.location = link.attr("href");
//						}
//					}
//				});
//

				$(document).on("click", ".ajax-dialog", function () {
					$('#modalDialog').dialog2({
						initialLoadText: "One moment...",
						id: "modal-dialog",
						content: this.href,
						closeOnOverlayClick: false,
						closeOnEscape: true,
						removeOnClose: false,
						showCloseHandle: true
					});
					event.preventDefault();
				});


				$(document).on("click", ".btn-group2 .btn", function () {
					hidden = document.getElementById($(this).data("hiddenid"));
					if ($(this).hasClass('active')) {
						hidden.name = 'nobody';
					} else {
						hidden.name = $(this).data("hiddenname");
					}
				});

				$(document).on("click", "#sidebar-activate", function () {
					$('#sidebar').toggleClass('active')
				});

				jQuery("abbr.timeago").timeago();

				$(document).delegate(".modal", "dialog2.content-update", function () {
					// got the dialog as this object. Do something with it!
					var e = $(this);
					var autoclose = e.find("a.auto-close");
					if (autoclose.length > 0) {
						e.hide();
						var href = autoclose.attr('href');
						if (href) {
							window.location.href = href;
						}
					}

//					$('.colorpickerfield').ColorPicker({
//
//						onSubmit: function (hsb, hex, rgb, el) {
//							$(el).val(hex);
//							$(el).ColorPickerHide();
//						},
//						onBeforeShow: function () {
//							$(this).ColorPickerSetColor(this.value);
//						}
//					})
//							.bind('keyup', function () {
//								$(this).ColorPickerSetColor(this.value);
//							});

				});

				Messenger.options = {
					extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
					theme: 'future'
				}
				{% if app.session.flashbag.peekAll|length > 0 %}
				{{ session_flash() }}
				{% endif %}

			});


		</script>

	{% endblock foot_script %}

	{% block flashes %}
	{% endblock flashes %}
