<span style="display:inline-block; line-height:5px; padding: 5px 15px 0 0;">This information was updated <abbr class="timeago" title="{{ "now"|date('c') }}">at {{ "now"|date('d/m/Y H:i:s') }}</abbr></span>
<a href=" {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="btn btn-success"><i class="icon-white icon-refresh"></i> Refresh</a>