<form class="navbar-form navbar-right" style="width:200px;" action="{{ path('viva_apollo_members') }}" method="get">
	<div class="input-group">
		<span class="input-group-addon"><i class="icon glyphicon glyphicon-search"></i></span>
		<input class="form-control" type="text" id="nav-searchbox" name="query" placeholder="Search..."
					 value="{{ app.request.get('query') }}">
	</div>
</form>