{% if app.request.headers.get('X-REQUESTED-WITH') == 'XMLHttpRequest' %}
    {% set extend_page = 'VivaitBootstrapBundle:Default:blank_base.html.twig' %}
{% else %}
    {% set extend_page = '::base.html.twig' %}
{% endif %}

{% extends extend_page %}



{% block sectiontitle %}
    {{ title }}
{% endblock %}

{% block section %}
    {% if instructions is defined and instructions%}
        <p>{{ instructions }}:</p>
    {% endif %}
    <div class="list-group">
    {% for key, option in options %}
        <a href="{{ path(route, option.route_params) }}" class="list-group-item ajax {% if selected|default == key %} active{% endif %}">{{ option.label }}</a>
    {% endfor %}
    </div>

    <div class="form-actions">
    <a class="btn close-dialog" href="#">Cancel</a>
    </div>
{% endblock %}
